* {
    box-sizing: border-box;
}
    
body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;

    font-family: sans-serif;
    line-height: 1.2;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

a {
    color: #2d5eff;
}

.title-line {
    margin: 0;
    margin-block: 0.1em;

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.subtitle-line {
    color: grey;
    font-size: .9rem;

    a {
        color: inherit;
    }

    & > span {
        @extend .list-piece
    }
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    margin-bottom: 1em;

    & > span {
        @extend .list-piece;
    }
}

// Heading anchor
.zola-anchor {
    color: #a8a8a8;
    text-decoration: none;
    font-size: .9em;
    margin-left: .5em;
    font-family: monospace;
    
    &:hover {
        text-decoration: underline;
    }
}

// Code blocks
pre {
    padding: .5em;
    border-radius: 3px;
    overflow-x: auto;
}

// Blockquotes
blockquote {
    margin-inline: 2em;
}

// Inline list items
.list-piece {
    &:not(:last-child)::after {
        content: " · ";
    }
}
