{% extends "base.html" %}


{% import "macros/title.html" as title %}

{% block head %}
{{ title::create(text=taxonomy.name | title) }}
{{ super() }}
{% endblock head %}

{% block content %}
<h1>{{ taxonomy.name | title }}</h1>

<ul>
    {% for term in terms %}
    <li><a href="{{ term.permalink | safe }}">{{ term.name }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}