{% import "macros/subtitle_line.html" as subtitle_line %}

{% macro page(page) %}
<div class="card">
    <h2 class="title-line">
        <a href="{{ page.permalink | safe }}" class="card-link">{{ page.title }}</a>
    </h2>
    <div class="subtitle-line">
        {{- subtitle_line::create(page=page) }}
    </div>
</div>
{% endmacro page_card %}