{% macro create(page) %}

{%- if page.date %}
<meta itemprop=dateCreated content="{{ page.date | date(format="%F") }}">
<span>{{ page.date | date(format="%e %B %Y") }}</span>
{% endif -%}

{%- if page.extra.author %}
<span itemprop=author>by <a href="{{ config.base_url }}/about#{{ page.extra.author | slugify }}">{{ page.extra.author }}</a></span>
{% endif -%}

{%- if page.reading_time %}
<meta itemprop="timeRequired" content="PT{{ page.reading_time }}M">
<span>{{ page.reading_time }} min read</span>
{% endif -%}

{%- if page.taxonomies.tags %}
<span>
    Tags: {% for tag in page.taxonomies.tags %}
    {% set tag_url = get_taxonomy_url(kind="tags", name=tag) -%}
    <a href="{{ tag_url }}" class="taxonomy-link">{{ tag }}</a>
    {%- endfor %}
</span>
{% endif -%}

{%- if page.updated %}
<meta itemprop=dateModified content="{{ page.updated | date(format="%F") }}">
<span>Updated {{ page.updated | date(format="%e %B %Y") }}</span>
{% endif -%}

{% endmacro create %}