{% extends "base.html" %}

{% import "macros/title.html" as title %}

{% block head %}
{{ title::create(text = "Not Found") }}
{{ super() }}
{% endblock head %}

{% block content %}
<h1>Not Found</h1>
<p>The page you were looking for was not found.</p>
{% endblock content %}