<!DOCTYPE html>
<html lang="en">

<!--
This site is licensed under the Creative Commons Attribution-ShareAlike 4.0
International license.
-->

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    {%- block head -%}
    <link rel=stylesheet href="{{ get_url(path='/style.css') }}">
    {%- endblock head -%}
</head>

<body>
    <main>{% block content %}{% endblock content %}</main>
    <footer>
        {%- block footer %}{% endblock footer -%}
        {% include "footer.html" %}
    </footer>

    {% if config.extra.debug -%}
    <div class="debug">{{ __tera_context }}</div>
    {%- endif -%}
</body>

</html>