<span><a href="{{ config.base_url }}">Home</a></span>
<span><a href="{{ get_url(path='@/discord.md') }}">Discord</a></span>
<span>This site is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.</span>
<span><a href="{{ config.extra.source_url }}">Source</a></span>