{% extends "base.html" %}


{% import "macros/title.html" as title %}
{% import "macros/subtitle_line.html" as subtitle_line %}

{% block head %}
{{ title::create(text = page.title) }}
{{ super() }}
{% endblock head %}

{% block content %}

<article itemscope itemtype="http://schema.org/Article">
{% if page.title is defined %}
<h1 itemprop=name class=title-line>{{ page.title }}</h1>
<meta itemprop=headline content="{{ page.title }}">
<meta itemprop=license content="https://creativecommons.org/licenses/by-sa/4.0/">
<div class=subtitle-line>{{ subtitle_line::create(page=page) }}</div>
{% endif %}

{{ page.content | safe }}
</article>
{% endblock content %}

{% block footer %}
{% set parent_section = get_section(path = page.ancestors | last) %}
<span><a href="{{ parent_section.permalink }}">Up</a></span>
{% endblock footer %}